<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>374895395204-fj6a9scnqujfoj413irl1q1rme35vle6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374895395204-fj6a9scnqujfoj413irl1q1rme35vle6</string>
	<key>API_KEY</key>
	<string>AIzaSyDyU7ldXkwBv4p5J44csSddQPz7GBjevPU</string>
	<key>GCM_SENDER_ID</key>
	<string>374895395204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amd.SpaceBroker</string>
	<key>PROJECT_ID</key>
	<string>space-trader-9cda4</string>
	<key>STORAGE_BUCKET</key>
	<string>space-trader-9cda4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374895395204:ios:f071e171b5e91d1d</string>
	<key>DATABASE_URL</key>
	<string>https://space-trader-9cda4.firebaseio.com</string>
</dict>
</plist>